.home {
  width: 50%;
  height: auto;
  border-radius: 10px;
  background-color: #FFFF;
  box-shadow: 2px 2px 10px #5e6470;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; 
  vertical-align: center;
  padding-top: 100px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.home-btn {
  background-color: #DADADA;
  box-shadow: 1px 1px 6px #5e6470;
  width: 150px;
  height: 150px;
  border: 0px solid;
  border-radius: 5px;
  margin: 25px 35px 2 5px 15px;
}

.home-btn:hover {
  background-color: #CACACA;
  transition: 0.2s;
}

.home-buttons {
  justify-content: center; 
  flex-wrap: wrap;
  width: 235px;
  margin-left: 30px;
  margin-top: -200px;
}

.container-homebtn {
  display: inline-flex;
  flex-wrap: wrap;
  height: 600px;
}

.home-icon {
  width: 100px;
  height: 100px;
}

.span-home {
  margin-right: 30px;
  font-size: x-large;
  font-weight: 500;
  width: 80px;
}

.page-title {
  float: left;
  margin-left: 100px;
  font-weight: 500;
}

.btn-voltar{
  float: right;
  margin-right: 100px;
  margin-top: 30px;
  font-weight: 500;
  background: #FF4646;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 100px;
  font-size: large;
  color: #FAFAFA;
}

.btn-voltar:hover {
  background: #b63333;
  transition: 0.2s;
}

.top-container{
  margin-bottom: 100px;
  display: inline;
  width: auto;
  height: auto;
}

.options-header {
  width: 80%;
}
