/* Custom Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.homecontainer {
  width: 50%;
  height: fit-content;
  border-radius: 10px;
  background-color: #FFFF;
  box-shadow: 2px 2px 10px #5e6470;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

.page-title4 {
  font-size: x-large;
  width: 60%;
}

.btn-voltar4 {
  width: 100%;
  font-weight: 500;
  background: #FF4646;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: large;
  color: #FAFAFA;
}


.btn-voltar4:hover {
  background: #b63333;
  transition: 0.5s;
}

.grid-container {
  align-items: left;
  margin-left: -80px; 
}


.bloco-2 {
  box-shadow: 2px 2px 4px #BABABA;
  border-radius: 4px;
  width: 190%;
  height: 95%;
  margin-top: 12%;
  margin-right: 30px;
  margin-left: -60px;
  background-color:#DADADA;
}

.btn-turmas{
  width: auto;
  height: 70px;
}


.MuiButton-label {
  font-size: small;
  font-weight: bold;
}

.MuiButton-label:hover {
  color: #FFF;
}


.CardTurma{
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: 60px;
  height: 60px;
  margin-top:10px;
  margin-left: 10px;
  margin-right: 0px;
  background-color: #FAFAFA;
  border-radius: 10px;
  box-shadow: #5e6470;
}

.CardTurma:hover {
    background: #FF4646;
    transition: 0.5s;
}

.CardTurma span{
  margin-left: 15px;
}

.FaGraduationCap{
  text-align: left;
  height: 40px;
  width: 50px;
  margin-left: -250px;
  margin-top: 15px;
  color: #FF4646;
}

.bloco-2 h4 {
  margin-left: -110px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.bloc-1 {
  width: 200px;
  margin-top: 5%;
  margin-right: 95px;
}

.bloc-1 .btn-turmas {
  box-shadow: 2px 2px 4px #BABABA;
  margin-left: 10px;
  margin-right: 60px;
  width: 110%;
  font-weight: 500;
  margin-top: 5%;
  background-color: #DADADA;
}

.bloc-1 .btn-turmas:hover {
  background: #FF4646;
  transition: 0.5s;
}

/* Fim do CSS da página Turmas.js */

@media (max-width: 1300px) {
  .bloc-1 .btn-turmas {
    box-shadow: 2px 2px 4px #BABABA;
    margin-left: 40px;
    margin-right: 0px;
    width: 80%;
    font-weight: 500;
    margin-top: 5%;
    background-color: #DADADA;
  }

  .bloco-2 {
    box-shadow: 2px 2px 4px #BABABA;
    border-radius: 4px;
    width:200%;
    height: 95%;
    margin-top: 15%;
    margin-left: -85px;
    background-color:#DADADA;
  }
  
  .MuiButton-label {
    font-size: small;
    font-weight: bold;
  }

  .FaGraduationCap{
    text-align: left;
    height: 40px;
    width: 40px;
    margin-left: -240px;
    margin-top: 15px;
    color: #FF4646;
  }

  .bloco-2 h4 {
    margin-left: -110px;
    margin-top: -30px;
    margin-bottom: 20px;
  }

  .CardTurma span{
    margin-left: 20px;
    font-size: 10px;
  }
}

@media (max-width: 1100px) {
  .bloc-1 .btn-turmas {
    box-shadow: 2px 2px 4px #BABABA;
    margin-left: 40px;
    margin-right: 0px;
    width: 80%;
    font-weight: 500;
    margin-top: 5%;
    background-color: #DADADA;
  }

  .bloco-2 {
    box-shadow: 2px 2px 4px #BABABA;
    border-radius: 4px;
    width:260%;
    height: 95%;
    margin-top: 30%;
    margin-left: -85px;
    background-color:#DADADA;
  }
  
  .MuiButton-label {
    font-size: small;
    font-weight: bold;
  }

  .FaGraduationCap{
    text-align: left;
    height: 40px;
    width: 40px;
    margin-left: -120px;
    margin-top: 15px;
    color: #FF4646;
  }

  .bloco-2 h4 {
    margin-left: 10px;
    margin-top: -30px;
    margin-bottom: 20px;
  }

  .CardTurma span{
    margin-left: 20px;
    font-size: 10px;
  }
}


@media (max-width: 900px) {
  .bloc-1 .btn-turmas {
    box-shadow: 2px 2px 4px #BABABA;
    margin-left: 40px;
    margin-right: 0px;
    width: 70%;
    font-weight: 500;
    margin-top: 5%;
    background-color: #DADADA;
  }

  .bloco-2 {
    box-shadow: 2px 2px 4px #BABABA;
    border-radius: 4px;
    width: 400%;
    height: 95%;
    margin-top: 50%;
    margin-right: 20px;
    margin-left: -65px;
    background-color:#DADADA;
  }
  
  .MuiButton-label {
    font-size: 10px;
    font-weight: bold;
  }

  .FaGraduationCap{
    text-align: left;
    height: 40px;
    width: 40px;
    margin-left: -120px;
    margin-top: 15px;
    color: #FF4646;
  }

  .bloco-2 h4 {
    margin-left: 10px;
    margin-top: -30px;
    margin-bottom: 20px;
  }

  .CardTurma span{
    margin-left: 20px;
    font-size: 10px;
  }
}

@media (max-width:750px) {
    .bloc-1 .btn-turmas {
      box-shadow: 2px 2px 4px #BABABA;
      margin-left: 40px;
      margin-right: -40px;
      width: 55%;
      font-weight: 500;
      margin-top: 5%;
      background-color: #DADADA;
    }
  
    .bloco-2 {
      box-shadow: 2px 2px 4px #BABABA;
      border-radius: 4px;
      width: 440%;
      height: 95%;
      margin-top: 60%;
      margin-right: 30px;
      margin-left: -85px;
      background-color:#DADADA;
    }

    .FaGraduationCap{
      text-align: left;
      height: 40px;
      width: 40px;
      margin-left: -110px;
      margin-top: 15px;
      color: #FF4646;
    }
  
    .bloco-2 h4 {
      margin-left:15px;
      margin-top: -30px;
      margin-bottom: 20px;
    }

}

@media (max-width: 600px) {


  .bloc-1 .btn-turmas {
    margin-left: 130px;
    width: 40%;
    font-weight: 500;
    margin-top: 5%;
    background-color: #DADADA;
  }

  .bloco-2 {
    width: 230%;
    height: 93%;
    margin-top: 60%;
    margin-right: 40px;
    margin-left: -70px;
    background-color:#DADADA;
  }
  
  .MuiButton-label {
    font-size: 7px;
    font-weight: bold;
  }

  .FaGraduationCap{
    text-align: left;
    height: 40px;
    width: 40px;
    margin-left: 0px;
    margin-top: 15px;
    color: #FF4646;
  }

  .bloco-2 h4 {
    font-size: 15px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .CardTurma span{
    margin-left: 20px;
    font-size: 10px;
  }
}