/* Custom Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.homecontainer {
  width: 50%;
  height: fit-content;
  border-radius: 10px;
  background-color: #FFFF;
  box-shadow: 2px 2px 10px #5e6470;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

.page-title4 {
  font-size: x-large;
  width: 60%;
}

.btn-voltar4 {
  width: 100%;
  font-weight: 500;
  background: #FF4646;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: large;
  color: #FAFAFA;
}


.btn-voltar4:hover {
  background: #b63333;
  transition: 0.5s;
}

.grid-container {
  align-items: left;
  width: 50%;
  margin-left: -30px;
  margin-right: 120px;
}

.bloco-2 {
  width: 310%;
  height: 94%;
  margin-top: 23px;
  margin-right: 10px;
  background-color:#DADADA;
}

.btn-turmas{
  width: 300px;
  height: 70px;
  border-radius: 10px;   
}


.MuiButton-label {
  margin-left: -40px;
  color: green;
  font-weight: 200;
}


.CardTurma{
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: 60px;
  height: 60px;
  margin-top:10px;
  margin-left: 10px;
  margin-right: 0px;
  background-color: #FAFAFA;
  border-radius: 10px;
  box-shadow: #5e6470;
}

.CardTurma span{
  margin-left: 15px;
}

.FaGraduationCap{
  text-align: left;
  height: 40px;
  width: 50px;
  margin-left: -150px;
  margin-top: 15px;
  color: #FF4646;
}

.bloco-2 h4 {
  margin-left: 0px;
  margin-top: -30px;
  margin-bottom: 20px;
}


/* Fim do CSS da página Turmas.js */