.btn {
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 40px;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 80px;
    text-align: left;
  }
  
  
  .form label {
    font-size: x-large;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 100%;
  }
  
  .form input {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #BABACA;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
  }
  
  .form select {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #BABACA;
    background-color: #DADADA;
    width: 100%;
    height: 47px;
    font-size: large;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .title {
    text-align: left;
    width: 50%;
    font-weight: 500;
    margin-left: 60px;
    margin-bottom: 60px;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    float: left;
    align-items: left;
    justify-content: left;
  }
  
  .left-content {
    justify-content: left;
  }
  
  .titulo input {
    width: 80%;
  }
  
  .titulo {
    width: 100%;
  }
  
  .descricao input {
    height: 100%;
    width: 80%;
    max-lines: 5;
  }
  
  .descricao {
    margin-bottom: 70px;
    width: 100%;
  }
  
  .data {
    margin-left: 20px;
    width: 70%;
  }