
.ocorrencias-pic {
  width: 280px;
  height: 280px;
  border-radius: 6px;
}

.photo-card {
  background-color: #DADADA;
  box-shadow: 2px 2px 8px #5e6470;
  width: 290px;
  height: 290px;
  border: 0px solid;
  border-radius: 5px;
  margin: 25px 40px 20px 20px;
  padding: 7px 2px 0px 2px;
}

.ocorrencias-container {
  width: 60%;
  height: auto;
  border-radius: 10px;
  background-color: #FFFF;
  box-shadow: 2px 2px 10px #5e6470;
  margin-left: auto;
  margin-right: auto;
  margin-top:120px; 
  margin-bottom: 120px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.container-ocorrencias {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.card-info-aluno {
  background-color: #DADADA;
  box-shadow: 2px 2px 8px #5e6470;
  width: 50%;
  height: 50%;
  border: 0px solid;
  border-radius: 5px;
  margin: 25px 40px 20px 20px;
  padding: 10px;
}

.info-aluno {
  text-align: left;
  font-weight: 500;
  font-size: 22px;
  padding-left: 20px;
}

.dados-container {
  text-align: left;
}

.dados-aluno {
  text-align: left;
 font-size: medium;
 }

.nome-aluno {
  text-align: left;
  width: 50%;
  font-weight: 500;
}

.btn-voltar-ocorrencias{
    /* float: right; */
  margin-right: 100px;
  margin-top: 30px;
  font-weight: 500;
  background: #FF4646;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 100px;
  height: 40px;
  font-size: large;
  color: #FAFAFA;
  box-shadow: 2px 2px 5px #BABACA;
}

.btn-voltar-ocorrencias:hover {
  background: #b63333;
  transition: 0.2s;
}

.header-ocorrencias {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ocorrencia {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-top: 10px;
}

.card-ocorrencia {
  background-color: #DADADA;
  box-shadow: 2px 2px 6px #5e6470;
  border: none;
  border-radius: 4px;
  width: 70%;
  height: max-content;
  padding: 10px;
  padding-top: 5px;
  text-align: left;
  margin: 20px;
  font-weight: 500;
}

.ocorrencias-area {
  width: 100%;
  margin: 20px;
}

.dados-criacao {
  font-weight: 500;
  text-align: left;
  margin: 10px;
  margin-left: 20px;
  line-height: 10px;
}

.edit-delete-btn {
  background: #FF4646;
  box-shadow: 1px 1px 6px #5e6470;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  margin: 10px;
}
.edit-delete-btn:hover {
  background: #b63333;
  transition: 0.2s;
}

.edit-delete-btn img {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.buttons-ocorrencia {
  margin-top: 10px;
}

.buttons-aluno {
  margin-top: 15px;
  margin-left: -20px;
}

/* Este é o header da área das ocorrências */
.ocorrencias-header {
  width: 110%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: -90px;
}

.btn-add-ocorrencia {
  margin-top: 30px;
  font-weight: 500;
  background: #FF4646;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 160px;
  height: 40px;
  font-size: large;
  color: #FAFAFA;
  box-shadow: 2px 2px 8px #BABACA;
}

.btn-add-ocorrencia:hover {
  background: #b63333;
  transition: 0.2s;
}

.btn-filtrar {
  margin-top: 30px;
  font-weight: 500;
  background: #FF4646;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 100px;
  height: 40px;
  font-size: large;
  color: #FAFAFA;
  box-shadow: 2px 2px 8px #BABACA;
  margin-right: 20px;
}

.btn-filtrar:hover {
  background: #b63333;
  transition: 0.2s;
}

.buttons-adicionar-filtrar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}