
.Navbar{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 10px #5e6470;
}

.logo{
    width: 300px;
    height: 20%;
    justify-content: flex-start;
}

.UserAvatar {
    display: inline-block;
    color: white;
    justify-content: flex-end;
  }
  
.UserAvatar--inner {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.UserAvatar--light {
    color: gray;
}

.UserAvatar--light .UserAvatar--inner {
    border: 1px solid lightgray;
}

.Navbar{
    align-items: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.logo{
    width: 300px;
    height: 20%;
    justify-content: flex-start;
}

.UserAvatar {
    color: white;
    justify-content: flex-end;
  }
  
.UserAvatar--inner {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.UserAvatar--light {
    color: gray;
}

.UserAvatar--light .UserAvatar--inner {
    border: 1px solid lightgray;
}

#dropdown-basic {
    background-color: #DADADA;
    border: none;
}

#dropdown-basic:hover {
    background-color: #CACACA;
    transition: 0.2s;
    float: right;
}

.span-header {
    float: left;
    margin-left: 20px;
    font-weight: 500;
    font-size: x-large;
}
