
.Navbar{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 0px;
}

.logo{
    width: 300px;
    height: 20%;
    justify-content: flex-start;
}

.UserAvatar {
    display: inline-block;
    color: white;
    justify-content: flex-end;
  }
  
.UserAvatar--inner {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.UserAvatar--light {
    color: gray;
}

.UserAvatar--light .UserAvatar--inner {
    border: 1px solid lightgray;
}

.Navbar{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 0px;
}

.logo{
    width: 300px;
    height: 20%;
    justify-content: flex-start;
}

.UserAvatar {
    display: inline-block;
    color: white;
    justify-content: flex-end;
  }
  
.UserAvatar--inner {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.UserAvatar--light {
    color: gray;
}

.UserAvatar--light .UserAvatar--inner {
    border: 1px solid lightgray;
}

