body {
    background-color: #DADADA;
}

.nav-container1{
    margin-top: 0px;
}

.container-homepage {
  width: 100%;
  max-width: 1200px;
  height: auto;
  background-color: #FAFAFA;
  margin: 40px auto 40px auto;
  padding: 5%;
  box-shadow: 4px 4px 30px #DDDDDD;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-btn1 {
    background-color: #EAEAEA;
    box-shadow: 6px 6px 20px 0px #EAEAEA;
    max-width: 140px;
    height: 140px;
    border: 0px solid;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.home-btn1:hover {
    background-color: #dadada;
    transition: 0.5s;
  }

  .btn-voltar1 {
    width: 100%;
    font-weight: 500;
    background: #FF4646;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    color: #FAFAFA;
  }

  .btn-voltar1:hover {
    background: #b63333;
    transition: 0.2s;
  }

  .container-iconbtn{
    width: 100%;
  }

  .home-icon1 {
    width: 70%;
    height: 60%;
  }
  
.span-home {
    font-size: large;
    font-weight: 500;
    text-align: center;
    color: #000;
  }

  .top-container1 {
      width: 100%;
      margin-bottom: 5%;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      
  }

  .page-title1{
      font-size: x-large;
      width: 60%;
  }

  .link-div {
      width: 40%;
  }
