.home-aluno {
    width: 50%;
    height: fit-content;
    border-radius: 10px;
    background-color: #FFFF;
    box-shadow: 2px 2px 10px #5e6470;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
  }

div.form {
    width: 100%;
    margin-bottom: 5%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}


.home-aluno h1{
    font-size: x-large;
    width: 60%;
    margin-left:20px;
}


/* Nome completo e o input*/
div.grupo-formnome {
    width: 92%;
    margin-left: -40px;
    margin-right: 10px;
}

/* Tamanho do input e alinhamento*/
div.grupo-formnome input {
    width: calc(100% - 10px);
    margin-left: 38px;
}

/* Tamanho do input e alinhamento NI e SENHA*/
div.grupo-form {
    width: 41%;
    margin-left: -40px;
    margin-right: 70px;
}

div.grupo-form input {
    width: 100%;
    margin-left: 40px;
}

li{
    list-style-type: none;
    padding-right: 2px;
    text-align: center;
    vertical-align: middle;
}

label.label{
    font-size: smaller;
    max-width: 100px;
}

  
.container-homebtn {
    display: inline-flex;
    flex-wrap: wrap;
    height: 400px;
}
.home-container{
    overflow: hidden;
}

.bot-container3{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: large;
  }

/* Botão voltar no topo de tela */
button.btn-1 {
    width: 100%;
    font-weight: 500;
    background: #FF4646;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    color: #FAFAFA;
  }
  
  
  .btn-1:hover {
    background: #b63333;
    transition: 0.5s;
  }

  .btn-finalizar{
    width: 100%;
    font-weight: 500;
    background: #FF4646;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    color: #FAFAFA;
  }
  
  .btn-cadastrar:hover {
    background: #b63333;
    transition: 0.5s;
  }
  
  .btn-adicionarnovo{
    width: 100%;
    font-weight: 500;
    background: #FF4646;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    color: #FAFAFA;
  }
  
  .btn-adicionarnovo:hover {
    background: #b63333;
    transition: 0.5s;
  }
  

input[type='radio'] + label {
    display: block;
  }


input#check, label.label {
    box-shadow: none;
}

div.form .input-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
} 


div.grupo-form label {
    margin-left: 60px;
    margin-right: 0px;

}

/* Palavra nome completo */
div.grupo-formnome label {
    width: 100%;
    margin-left: 50px;
    margin-right: 0px;
}

div.input-block label {
        color: black;
        font-size: 15px;
        margin-bottom: 0;
        padding-bottom: 0; 
}

div.input-block input {
    color: black;
    background-color: #DADADA;
    border-radius: 10px;
    box-shadow: 1px 8px 8px #DADADA;
  }



div.dzu-dropzone {
    margin-left: 140px;
    margin-top: 20px;
    width: 240px;
    margin-left: -190px;
    margin-bottom: 30px;
    height: 40px;
    border: solid #FF4646;
    overflow: hidden;
    text-align: center;

}

label.dzu-inputLabel {
    color:#FF4646;
    text-align: center;
    font-size: xx-small;
}

.btn-bottom{
    flex-wrap: wrap;
    width: max-content;
}
  
.form label{
    margin-right: 50%;
}

div.acesso {
    margin-left: -690px;
}
div.acesso h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: 110px;
    margin-left: 285px;
}

div.acesso label.label{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0;
    margin: 0;
    padding-top: 10px;
    margin-right: -220px;
    margin-left: 240px;
}

div.acesso label.label h6 {
     margin-left: 40px;
     margin-bottom: 0;
}

@media (max-width: 1980px) {
    div.acesso {
        margin-left: -10px;
    }

    div.acesso h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        padding-top: 0px;
        margin-left: 30px;
        margin-right: -20px;
    }
    
    div.acesso label.label{
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0;
        margin: 0;
        padding-top: 10px;
        margin-right: 30px;
        margin-left: -10px;
    }

    div.dzu-dropzone {
        margin-left: 140px;
        margin-top: 20px;
        width: 240px;
        margin-left: -330px;
        margin-bottom: 30px;
        height: 40px;
        border: solid #FF4646;
        overflow: hidden;
        text-align: center;
    
    }
   }


@media (max-width: 1240px) {
 .home-aluno{
     max-width: 900px;
 }
}

@media (max-width: 1300px) {

    .home-aluno{
        max-width: 900px;
    }


    div.acesso {
        margin-left: -10px;
    }

    div.acesso h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        padding-top: 0px;
        margin-left: 30px;
        margin-right: -10px;
    }
    
    div.acesso label.label{
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0;
        margin: 0;
        padding-top: 10px;
        margin-right: 30px;
        margin-left: -10px;
    }

    div.dzu-dropzone {
        margin-left: 140px;
        margin-top: 20px;
        width: 240px;
        margin-left: -190px;
        margin-bottom: 30px;
        height: 40px;
        border: solid #FF4646;
        overflow: hidden;
        text-align: center;
    
    }
}


@media (max-width: 900px) {

    div.acesso {
        margin-left: -10px;
    }

    div.acesso h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        padding-top: 0px;
        margin-left: 15px;
        margin-right: -50px;
    }
    
    div.acesso label.label{
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0;
        margin: 0;
        padding-top: 10px;
        margin-right: 30px;
        margin-left: -10px;
    }

    div.dzu-dropzone {
        margin-left: 140px;
        margin-top: 20px;
        width: 210px;
        margin-left: -10px;
        margin-bottom: 30px;
        height: 40px;
        border: solid #FF4646;
        overflow: hidden;
        text-align: center;
    
    }
}
  
  @media (max-width: 600px) {

    div.acesso {
        margin-left: -10px;
    }

    div.acesso h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        padding-top: 0px;
        margin-left: 15px;
        margin-right: -50px;
    }
    
    div.acesso label.label{
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0;
        margin: 0;
        padding-top: 10px;
        margin-right: 0px;
        margin-left: -10px;
    }

    div.dzu-dropzone {
        margin-left: 140px;
        margin-top: 20px;
        width: 140px;
        margin-left: -10px;
        margin-bottom: 30px;
        height: 40px;
        border: solid #FF4646;
        overflow: hidden;
        text-align: center;
    
    }
  }