.nav-container{
    margin-top: 0px;
}

.container-cadastro1 {
    width: 60%;
    height: fit-content;
    border-radius: 10px;
    background-color: #FFFF;
    box-shadow: 2px 2px 10px #5e6470;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

.top-container1 {
    width: 100%;
    margin-bottom: 5%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}

.bot-container1{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-title1{
    font-size: x-large;
    width: 60%;
}

.btn-voltar1 {
    width: 100%;
    font-weight: 500;
    background: #FF4646;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    color: #FAFAFA;
  }

  .btn-voltar1:hover {
    background: #b63333;
    transition: 0.5s;
  }

  .form-group1 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
  }

  .btn-end, .btn-add-new {
    width: 100%;
    font-weight: 500;
    background: #FF4646;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    color: #FAFAFA;
  }

  .btn-end:hover, .btn-add-new:hover {
    background: #b63333;
    transition: 0.5s;
  }

  .input-cadastro {
      width: 100%;
      padding: 5%;
  }

  .form1 {
      margin-right: 5%;
      margin-top: 5%;
  }

  .form2 {
      width: 100%;
      margin-top: 3%;
  }

  .form1 label, .form2 label{
    font-size: large;
    font-weight: 500;
    padding-left: 2%;
  }

  div.dzu-dropzone {
    width: 50%;
    padding: 1%;
    border: none;
    border-radius: 5px;
    background-color: #DADADA;
    text-align: center;
    overflow: hidden;
    }

    label.dzu-inputLabel {
        color: inherit;
        text-align: center;
        justify-content: center;
    }

    input.dzu-input {
        background-color: #DADADA;
        color: inherit;
        visibility: visible;
    }