@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap%27");

<<<<<<< HEAD
div.container-lista{
  width: 100%;
  max-width: 1200px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 10px auto 60px auto;
=======
div.container{
    width: max-content;
    height: 900px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
>>>>>>> e6a19ed55e9602f567a3862e043e15e81bd23747
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0px;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 0px;
}

<<<<<<< HEAD
.img-container{
    width: 100%;
    height: 200px;
    border: 1px solid #222;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.container-lista {
  min-height: 750px;
=======
img.students{
    border-radius: 10px;
    width: 220px;
    height: 200px;
    border: solid #FFFF 
}

.container {
  width: 1130px;
  height: 750px;
>>>>>>> e6a19ed55e9602f567a3862e043e15e81bd23747
  border-radius: 10px;
  background-color: #FFFF;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  margin-top:90px; 
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
<<<<<<< HEAD
  flex-direction: column;
}

.botao {
  width: 100%;
  display: flex;
  align-items: center;
}

.botao .btn-voltar5 {
  width:  auto;
  font-weight: bold;
=======
}

.botao .btn-voltar5 {
  width: 9%;
  font-weight: 500;
>>>>>>> e6a19ed55e9602f567a3862e043e15e81bd23747
  background: #FF4646;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
<<<<<<< HEAD
=======
  margin-left: 700px;
>>>>>>> e6a19ed55e9602f567a3862e043e15e81bd23747
  padding: 10px;
  font-size: large;
  color: #FAFAFA;
}


.btn-voltar5:hover {
  background: #b63333;
  transition: 0.5s;
}


.botao .btn-voltar6 {
<<<<<<< HEAD
  font-weight: bold;
  width: 100%;
=======
  width: 7%;
  font-weight: 500;
>>>>>>> e6a19ed55e9602f567a3862e043e15e81bd23747
  background: #FF4646;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: large;
  color: #FAFAFA;
}


.btn-voltar6:hover {
  background: #b63333;
  transition: 0.5s;
}

.botao .page-title6 {
  font-size: x-large;
<<<<<<< HEAD
  text-align: left;
  margin-right: auto;
}

.container-lista h6 {
  height: 30px;
  border: 1px solid #FF4646;
  border-radius: 0 0 10px 10px;
=======
  width: 60%;
  text-align: left;
  margin-top: 5%;
  margin-bottom: -35px;
  margin-left: 30px;
}

.container h6 {
  height: 30px;
  margin-left: 3px;
  margin-top: 3px;
>>>>>>> e6a19ed55e9602f567a3862e043e15e81bd23747
  padding-top: 5px;
  background-color: #FF4646;
  width: 100%;
}

.container h6:hover {
  background: #b63333;
  transition: 0.5s;
<<<<<<< HEAD
}

@media (max-width: 1240px) {
  div.container-lista {
    max-width: 960px;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 1000px) {

  div.container-lista {
    max-width: 640px;
  }
  
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 680px) {
  div.container-lista {
    max-width: 300px;
    min-height: 400px;
  }

  .grid-container {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }

  .botao {
    flex-wrap: wrap;
    justify-content: center;
  }

  .botao .page-title6 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
=======
>>>>>>> e6a19ed55e9602f567a3862e043e15e81bd23747
}