/* Título  cadastrar Curso */

/* Container principal da página*/
.homecontainer {
  width: 100%;
  max-width: 1200px;
  height: auto;
  background-color: #FAFAFA;
  margin: 40px auto 40px auto;
  padding: 5%;
  box-shadow: 4px 4px 30px #DDDDDD;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  }

/* Div que controla todas as palavras dentro do Homecontainer */  
.form-cturma{
    width: 100%;
    margin-bottom: 5%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 5%;
}

/* Título  cadastrar Curso */
.page-title3 {
    font-size: x-large;
    width: 60%;
    text-align: left;
  }

/* Palavras nome do curso e Períodos */
label.span-cturma{
    width: 100%;
    display: inline;
    margin-left: 10px;
    margin-top: 10%;
    text-align: left;
}

/* Tamanho do input nome do curso e alinhamento */
.input-cturma {
    margin-left: 0px;
    width: 74%;
}

.section-checkbox-cadastro{
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    float: left;
}

input{
    margin-top: 1%;
    float: left;
    margin-left: -20px;  
    margin-right: 10px;
}

.label-checkbox {
    margin-right: 0px;
    float: left;
    margin-right: 0px;
}


/* Palavras manhå, tarde e noite */
input[type=radio] + label {
margin-top: 5%;
margin-left: -40px;
margin-bottom: 20px;
margin-right: 0%;
width: 20px;
display: block;
}


.btn-voltar3 {
    width: 100%;
    font-weight: 500;
    background: #FF4646;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    color: #FAFAFA;
  }
  
  
  .btn-voltar3:hover {
    background: #b63333;
    transition: 0.5s;
}

.bot-container4{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: large;
  }

  .btn-concluir{
    width: 100%;
    font-weight: 500;
    background: #FF4646;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    color: #FAFAFA;
  }
  
  .btn-concluir:hover {
    background: #b63333;
    transition: 0.5s;
  }
  
  .btn-cadastrarcurso{
    width: 100%;
    font-weight: 500;
    background: #FF4646;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    color: #FAFAFA;
  }
  
  .btn-cadastrarcurso:hover {
    background: #b63333;
    transition: 0.5s;
  }