//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body{
  background-color: #DADADA;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}


.image {
  width: 52em;
  padding-bottom: 10px;
  height: 190px;
  margin-bottom: 20px;
}
  

.header {
  font-size: 20px;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}


//Login Main Container
.login {
  width: 57em;
  height: 50em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    box-shadow: 2px 2px 10px #5e6470;
    border-radius: 10px;
    position: relative;
    z-index: 99;
    width: 500%;
    height: 70%;
    z-index: 99;
    padding: 27px 10px;
    //transition: transform 200ms ease-in-out;
  };

    .text {
      font-size: 0px;
      font-weight: 500;
      color: transparent;
      margin-right: 3em;
      margin-left: 3em;
  }
};

//Placeholders - NI E SENHA
// input {
//   margin-top: 0px;
//   margin-bottom: 40px;
//   min-width: 18em;
//   height: 42px;
//   padding: 2px 5px;
//   font-size: 20px;
//   font-family: "Open Sans", sans-serif;
//   background-color: #DADADA;
//   margin-bottom: 7px;
//   transition: all 250ms ease-in-out;
// };

.login-form {
  box-shadow: 1px 1px 5px #5e6470;
  border-radius: 5px;
  border: solid 0px;
}

//Button
.btn {
  font-size: 21px;
  margin-top: 30px;
  padding: 10px 155px;
  border-radius: 5px;
  border: solid 0px;
  background-color: #FF4646;
  box-shadow: 1px 1px 5px #5e6470;
  color: black;
  font-weight: bold;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #b63333;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

//Inicio do CSS página cadastro usuário
.containercadastro{
  width: 1200px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  margin-top:100px; 
  justify-content: center;
  align-items: center;
  
  background-color: #FAFAFA;
}

.cadastro h1 {
  margin-top: -40px;
  padding-top: -50px;
  margin-left: 50px;
  padding-bottom: 70px;
}

.cadastro label{
  color: black;
  font-size: 20px;
  margin-left: 80px;
  margin-top: 80px;
}

.cadastro label1{
  color: black;
  font-size: 20px;
  margin-left: 430px;
  margin-top: 80px;
}

.cadastro input {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 40px;
  color: black;
  background-color: #DADADA;
  border-radius: 10px;
  box-shadow: 1px 8px 8px #DADADA;
}

.btn2{
  margin-top: 80px;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 250px;
  height: 10px;
  border-radius: 8px;
  margin-left: 750px;
  color: #FAFAFA;
  background-color: #FF4646;
  font-weight: bold;
  font-size: larger;
}


.btn2:hover {
  background-color: #DADADA;
  transition: 0.2s;
}


.btn3{
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 250px;
  height: 10px;
  border-radius: 8px;
  margin-left: 50px;
  background-color: #FF4646;
  font-weight: bold;
  font-size: larger;
}

.btn3:hover {
  background-color: #DADADA;
  transition: 0.2s;
}

.btn4 {
  margin-left: 50px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 250px;
  height: 10px;
  border-radius: 8px;
  margin-left: 50px;
  background-color: #FF4646;
  font-weight: bold;
  font-size: larger;
}

.btn4:hover {
  background-color: #DADADA;
  text-decoration: none;
  transition: 0.2s;
}
//Fim do css da página cadastro usuário/

//Início do css da página Home

.home-container {
  width: 60%;
  height: auto;
  border-radius: 10px;
  background-color: #FFFF;
  box-shadow: 2px 2px 10px #5e6470;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; 
  vertical-align: center;
  padding-top: 100px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.home-btn {
  background-color: #DADADA;
  box-shadow: 1px 1px 6px #5e6470;
  width: 150px;
  height: 150px;
  border: 0px solid;
  border-radius: 5px;
  margin: 25px 35px 2 5px 15px;
}

.home-btn:hover {
  background-color: #CACACA;
  transition: 0.2s;
}

.home-buttons {
  justify-content: center; 
  flex-wrap: wrap;
  width: 230px;
}

.container-homebtn {
  display: inline-flex;
  flex-wrap: wrap;
  height: 600px;
}

.page-title {
  float: left;
  margin-left: 100px;
  font-weight: 500;
}

.btn-voltar{
  float: right;
  margin-right: 100px;
  margin-top: 30px;
  font-weight: 500;
  background: #FF4646;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 100px;
  font-size: large;
  color: #FAFAFA;
}

.btn-voltar:hover {
  background: #b63333;
  transition: 0.2s;
}

.top-container{
  margin-bottom: 100px;
  display: inline;
  width: auto;
  height: auto;
}
//Fim do Css - Página home e cadastro



// Turma
/* Custom Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.nav-container{
    margin-top: 0px;
}

.cturma-container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: min-content;
    border-radius: 10px;
    background-color: #FFFF;
    box-shadow: 2px 2px 10px #5e6470;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px; 
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
  }

  /* Login Main Container */
.login {
    width: 57em;
    height: 50em;
    /* min-height: 44em; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position: relative;
    z-index: 99;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    box-shadow: 2px 2px 10px #5e6470;
    border-radius: 10px;
    position: relative;
    z-index: 99;
    width: 500%;
    height: 70%;
    z-index: 99;
    padding: 27px 10px;
    transition: transform 200ms ease-in-out;
}
  
.text {
    font-size: 0px;
    font-weight: 500;
    color: transparent;
    margin-right: 3em;
    margin-left: 3em;
}
  


  // Formandos css -----------------

  .formandos-container {
    width: 60%;
    height: auto;
    border-radius: 10px;
    background-color: #FFFF;
    box-shadow: 2px 2px 10px #5e6470;
    margin-left: auto;
    margin-right: auto;
    margin-top:120px; 
    margin-bottom: 120px;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .formandos-card {
    padding-top: 0px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .span-formandos {
    font-size: x-large;
    font-weight: 500;
    padding-bottom: 20px;
    margin-left: -10px;
  }

  .formandos-pic {
    width: 210px;
    height: 210px;
    border-radius: 6px;
  }

  .btn-imprimir {
    float: right;
    margin-right: 20px;
    margin-top: 30px;
    font-weight: 500;
    background: #FF4646;
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 100px;
    font-size: large;
    color: #FAFAFA;
    box-shadow: 2px 2px 5px #BABACA;
  }

  .btn-imprimir:hover {
    background: #b63333;
    transition: 0.2s;
  }
  
  .turma-formandos {
    text-align: left;
    margin-left: 200px;
    margin-top: 50px;
    font-weight: 600;
    width: 100%;
  }

    // Início do css - página Cadastrar Aluno
    .containercadastroaluno{
      width: 1200px;
      height: 1050px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
      margin-top:100px; 
      justify-content: center;
      align-items: center;
      
      background-color: #FAFAFA;
    }
    
    .cadastroaluno h1 {
      margin-top: -40px;
      padding-top: -50px;
      margin-left: 50px;
      padding-bottom: 70px;
    }
    
    .cadastroaluno label2{
      color: black;
      font-size: 20px;
      margin-left: 80px;
      margin-top: 80px;
    }
    
    .cadastroaluno2 label3{
      color: black;
      font-size: 20px;
      margin-left: 80px;
      margin-top: 80px;
    }
    
    .cadastroaluno2 label4{
      color: black;
      font-size: 20px;
      margin-left: 400px;
      margin-top: 80px;
    }
    
    .cadastroaluno2 label5{
      color: black;
      font-size: 20px;
      margin-left: 80px;
      margin-top: 80px;
    }
    
    .cadastroaluno2 label6{
      color: black;
      font-size: 20px;
      margin-left: 380px;
      margin-top: 80px;
    }
    
    .cadastroaluno2 label7{
      color: black;
      font-size: 20px;
      margin-left: 80px;
      margin-top: 80px;
    }
    
    .cadastroaluno2 label8{
      color: black;
      font-size: 20px;
      margin-left: 400px;
      margin-top: 80px;
    }
    
    // .cadastroaluno input {
    //   margin-top: 15px;
    //   margin-left: 50px;
    //   margin-right: 40px;
    //   margin-bottom: 10px;
    //   width: 69%;
    //   color: black;
    //   background-color: #DADADA;
    //   border-radius: 10px;
    //   box-shadow: 10px 20px 20px #DADADA;
    // }
    
    // .cadastroaluno2 input {
    //   margin-top: 10px;
    //   margin-left: 50px;
    //   margin-right: 40px;
    //   margin-bottom: 10px;
    //   color: black;
    //   background-color: #DADADA;
    //   border-radius: 10px;
    //   box-shadow: 1px 8px 8px #DADADA;
    // }
    
    .btncadastroaluno{
      margin-top: 50px;
      padding-top: 10px;
      padding-bottom: 30px;
      width: 250px;
      height: 10px;
      border-radius: 8px;
      margin-left: 830px;
      color: #FAFAFA;
      background-color: #FF4646;
      font-weight: bold;
      font-size: larger;
    }
    
    
    .btnaluno:hover {
      background-color: #DADADA;
      transition: 0.2s;
    }
    
    .btnalunofinalizar{
      margin-top: 30px;
      padding-top: 10px;
      padding-bottom: 30px;
      width: 250px;
      height: 10px;
      border-radius: 8px;
      margin-left: 50px;
      background-color: #FF4646;
      font-weight: bold;
      font-size: larger;
    }
    
    .btnalunofinalizar:hover {
      background-color: #DADADA;
      transition: 0.2s;
    }
    
    .btnadicionarnovo {
      margin-left: 50px;
      margin-top: 30px;
      padding-top: 10px;
      padding-bottom: 30px;
      width: 250px;
      height: 10px;
      border-radius: 8px;
      margin-left: 50px;
      background-color: #FF4646;
      font-weight: bold;
      font-size: larger;
    }
    
    .btnadicionarnovo:hover {
      background-color: #DADADA;
      text-decoration: none;
      transition: 0.2s;
    }
    



body{
  background-color: #DADADA;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image {
  width: 52em;
  padding-bottom: 10px;
  height: 190px;
  margin-bottom: 20px;
}
  

.header {
  font-size: 20px;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
