/* Inicio do CSS da página Turmas.js */
.item1 {
    grid-column: 1 / span 2;
  }
  
div.container{
  height: 100vh;
  width: 100vh;
}


.container {
    width: 80%;
    height: 60%;
    border-radius: 10px;
    background-color: #FFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top:120px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}


btn-primary{
    width: 500px;
    height: 80px;
    border-radius: 10px;
    background-color: #FF4646;
}

.btn-back{
    width: 60px;
    height: 41px;
    margin-top: 0px;
    border-radius: 8px;
    margin-left: 820px;
  }


div.home-container {
  width: 80%;
  height: 90%;  
}
