@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap%27");

div.container-formandos{
  width: 100%;
  max-width: 1200px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 10px auto 60px auto;
}

.grid-containerformandos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0px;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 0px;
}

.img-containerformandos{
    width: 100%;
    height: 200px;
    border: 1px solid #222;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-containerformandos img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.container-formandos {
  min-height: 750px;
  border-radius: 10px;
  background-color: #FFFF;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  margin-top:90px; 
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
}

.botao-formandos{
  width: 100%;
  display: flex;
  align-items: center;
}

.botao-formandos .btn-voltarformandos5 {
  width:  auto;
  font-weight: bold;
  background: #FF4646;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  padding: 10px;
  font-size: large;
  color: #FAFAFA;
}


.btn-voltarformandos5:hover {
  background: #b63333;
  transition: 0.5s;
}


.botao-formandos .btn-voltarformandos6 {
  font-weight: bold;
  width: 100%;
  background: #FF4646;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: large;
  color: #FAFAFA;
}


.btn-voltarformandos6:hover {
  background: #b63333;
  transition: 0.5s;
}

.botao-formandos .page-titleformandos {
  font-size: x-large;
  text-align: left;
  margin-right: auto;
}

.container-formandos h6 {
  height: 30px;
  border: 1px solid #FF4646;
  border-radius: 0 0 10px 10px;
  padding-top: 5px;
  background-color: #FF4646;
  width: 100%;
}

.container h6:hover {
  background: #b63333;
  transition: 0.5s;
}

@media (max-width: 1240px) {
  div.container-formandos {
    max-width: 960px;
  }

  .grid-containerformandos {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 1000px) {

  div.container-formandos {
    max-width: 640px;
  }
  
  .grid-containerformandos {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 680px) {
  div.container-formandos {
    max-width: 300px;
    min-height: 400px;
  }

  .grid-containerformandos {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }

  .botao-formandos {
    flex-wrap: wrap;
    justify-content: center;
  }

  .botao-formandos .page-titleformandos{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}